.contentTagText{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
}
.tagBack{
  padding: 4px 12px;
  border-radius: 5px;
}
.tagText{

}
.contentCheckbox{
    padding: 5px 15px;
}
.contentDate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentModal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentProduct{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productImg{

}
.contentProductImgTag{
    position: absolute;
    height: 100px;
    width: 135px;
    top: 0;
    left: 0;
}
.productImgTag{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.contentBtnAttachmentInput{
    display: none;
}
.contentText{
    color: rgb(255, 0, 0);
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
}